/*User page*/
.profileimg
{
  height: 50%;
  width: 50%;
  margin-left: 20%;
  border: 2px solid #D5D5D5;
  border-radius: 50%;
}

/*Button for img upload*/
label.avtbutton
{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.profilebutton
{
  margin-left: 30%;
}
input[type="file"] {
  display: none;
}

/*Crop img*/

div.center-cropped {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
div.center-cropped img {
  width: 100%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.profiletext
{
  padding-left: 5%;
}

.whiteframe
{
  background-color: white;
  padding: 20px;
  border: 2px solid #D5D5D5;

}

.profilecol1
{
  padding-top: 30px;
  border: 2px solid #D5D5D5;

}