* {
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Arial', sans-serif;
  word-spacing: 1px !important;
  background: #f7f9fa; }

h2 {
  color: #0eb493;
  letter-spacing: 2px;
  font-size: 36px !important;
  margin-top: 80px;
  font-weight: bold;
  font-family: 'Roboto' , sans-serif; }
  @media screen and (max-width: 367px) {
    h2 {
      margin-top: 50px; } }
  @media screen and (min-width: 1600px) {
    h2 {
      font-size: 28px !important;
      margin-top: 100px; } }

#home .home-dot li, #features .fea-dot li, #team .team-dot li {
  border: 1px solid #4e4e4e;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  margin: 8px 1px 1px 1px; }

/* header top */
.mg-top-20 {
  margin-top: 25px;
  font-size: 15px; }

.mg-top-10 {
  margin-top: 5px; }

.bg-gray {
  background-color: #f7f9fa; }

.na-brand {
  padding: 5px 5px 5px 15px;
  margin-top: 18px;
  margin-left: 0 !important; }
  @media screen and (min-width: 1600px) {
    .na-brand {
      margin-top: 24px; } }
  @media screen and (max-width: 768px) {
    .na-brand {
      margin-left: 0 !important; } }

.navbar-right {
  margin-right: 0; }

.na-sign-in {
  color: #a0a3a7;
  margin-right: 20px; }

.na-sign-in:hover {
  color: orange;
  text-decoration: none; }

.langauge {
  margin-right: 20px;
  float: right; }
  .langauge p a {
    color: #a0a3a7; }
  .langauge p a:hover {
    color: orange;
    text-decoration: none; }

.na-bot {
  margin-right: 25%;
  float: right; }

.na {
  margin-bottom: 0;
  border: 0;
  font-size: 11px !important;
  opacity: 0.9;
  background: black !important;
  z-index: 1; }
  .na .na-item {
    font-size: 16px;
    font-family: 'Arial',san-serif;
    color: #d5d5d5 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    margin-right: 100px; }
    @media screen and (max-width: 768px) {
      .na .na-item {
        text-align: center; } }
    @media screen and (min-width: 1600px) {
      .na .na-item {
        font-size: 13px; } }
  .na .nav .open > a, .na .nav .open > a:focus, .na .nav .open > a:hover {
    background: none !important; }
  .na .na-item:hover {
    color: #fff !important;
    background: none !important;
    border-bottom: 1px solid orange !important; }
  .na .na-item:active {
    color: #fff !important;
    background: none !important;
    border-bottom: 1px solid orange !important; }
  .na .na-right {
    margin-top: 10px;
    vertical-align: baseline; }
    @media screen and (max-width: 787px) {
      .na .na-right {
        margin-right: auto; } }
    @media screen and (min-width: 1600px) {
      .na .na-right {
        margin-top: 15px; } }
  .na .na-toggle {
    margin-top: 20px; }
    @media screen and (max-width: 367px) {
      .na .na-toggle {
        margin-top: 15px; } }

/* //navigation */
/* //header */
@media screen and (max-width: 768px) {
  #home {
    margin-top: 60px; } }
#home .home-dot {
  left: 97%;
  bottom: 40%;
  margin-left: 0;
  width: 0; }
#home .home-dot li {
  display: block; }
  @media screen and (max-width: 768px) {
    #home .home-dot li {
      margin-top: 3px; } }
#home .home-inner {
  font-family: 'open_sansLight',sans-serif; }
#home .home-caption {
  margin-bottom: 111px; }
  @media screen and (max-width: 768px) {
    #home .home-caption {
      margin-bottom: 30px; } }
  @media screen and (max-width: 499px) {
    #home .home-caption {
      margin-bottom: 10px; } }
#home .home-footer {
  position: absolute;
  bottom: 6%;
  left: 46%; }
  @media screen and (max-width: 768px) {
    #home .home-footer {
      bottom: 14%; } }
#home .home-footer-link {
  color: #566e68;
  font-size: 20px;
  padding-right: 8px;
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    #home .home-footer-link {
      font-size: 10px;
      padding-right: 0; } }
#home .home-footer-link:hover {
  color: white; }
#home .spainGreen {
  color: #0fda93; }
#home .spainBold {
  font-family: 'open_sansBold', san-serif;
  font-weight: bold; }
#home .home-caption > h3 {
  font-size: 56px; }
  @media screen and (max-width: 768px) {
    #home .home-caption > h3 {
      font-size: 32px; } }
  @media screen and (max-width: 367px) {
    #home .home-caption > h3 {
      font-size: 20px; } }
  @media screen and (min-width: 1600px) {
    #home .home-caption > h3 {
      font-size: 62px; } }
#home .home-caption > p:nth-child(2) {
  font-size: 34px; }
  @media screen and (max-width: 768px) {
    #home .home-caption > p:nth-child(2) {
      font-size: 24px; } }
  @media screen and (max-width: 367px) {
    #home .home-caption > p:nth-child(2) {
      font-size: 14px; } }
  @media screen and (min-width: 1600px) {
    #home .home-caption > p:nth-child(2) {
      font-size: 48px; } }
#home .home-caption > p:last-child {
  font-size: 15px; }
  @media screen and (max-width: 768px) {
    #home .home-caption > p:last-child {
      font-size: 12px; } }
  @media screen and (max-width: 367px) {
    #home .home-caption > p:last-child {
      font-size: 7px; } }
  @media screen and (min-width: 1600px) {
    #home .home-caption > p:last-child {
      font-size: 18px; } }

#team .team-img-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #21b597;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease; }

#team .team-img-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.headdingGray {
  margin-top: 5px;
  color: #c3c6c7;
  font-size: 14px; }

.spainGray {
  color: #dce1e5; }

.text-gray {
  font-size: 13px;
  color: #586a77;
  line-height: 20px;
  margin-top: 10px; }

.text-header {
  color: #384d5c;
  font-size: 16px;
  font-family: 'open_sansSemiBold',sans-serif;
  margin-top: 25px; }
  @media screen and (max-width: 768px) {
    .text-header {
      font-size: 14px;
      margin-top: 15px; } }
  @media screen and (max-width: 367px) {
    .text-header {
      font-size: 12px; } }
  @media screen and (min-width: 1600px) {
    .text-header {
      font-size: 18px; } }

.main-bg-img {
  background: url(../img/venom-bg.png) fixed center no-repeat;
  min-height: 400px;
  position: relative;
  opacity: 0.65;
  background-size: cover; }

#features {
  background-color: #f4f7f9;
  padding-top: 20px;
  padding-bottom: 40px; }
  #features #features > h2 {
    margin-top: 30px; }
  #features .fea-img-text-bottom > p:first-child {
    margin-top: 10px;
    font-size: 16px; }
    @media screen and (min-width: 1600px) {
      #features .fea-img-text-bottom > p:first-child {
        font-size: 18px; } }
  #features .fea-img-text-bottom > p:last-child {
    font-size: 15px;
    color: #909ba4; }
    @media screen and (min-width: 1600px) {
      #features .fea-img-text-bottom > p:last-child {
        font-size: 13px; } }
  #features .fea-container {
    margin-top: 15px; }
    @media screen and (max-width: 767px) {
      #features .fea-container {
        margin-top: 0; } }
  #features .fea-full-content {
    padding-bottom: 160px; }
    @media screen and (max-width: 767px) {
      #features .fea-full-content {
        padding-bottom: 20px; } }
  #features .fea-content {
    position: absolute;
    left: 0; }
    @media screen and (max-width: 767px) {
      #features .fea-content {
        position: static;
        left: auto;
        text-align: center; } }
  #features .fea-content > h3 {
    font-family: 'open_sansSemiBold', sans-serif;
    font-size: 18px;
    margin-bottom: 20px; }
  #features .fea-img {
    margin-top: 12px;
    padding-right: 0;
    padding-left: 0; }
    @media screen and (max-width: 991px) {
      #features .fea-img {
        padding-right: 20px; } }
    @media screen and (max-width: 767px) {
      #features .fea-img {
        padding-right: 15px;
        padding-left: 15px; } }
  #features .fea-fix-carousel {
    background: none; }
  #features .fea-fix-potision-icon {
    color: orange;
    position: relative;
    top: 35%;
    font-size: 40px; }
  #features .fea-dot {
    bottom: 0px;
    width: 60%; }
  #features .fea-dot li {
    margin-right: 4px;
    margin-left: 4px;
    border-color: #caced2; }
    @media screen and (max-width: 768px) {
      #features .fea-dot li {
        margin-top: 3px; } }
  #features .fea-dot .active {
    background-color: #0f0f0f; }

#team {
  padding-bottom: 50px; }
  #team .team-img {
    margin-top: 80px; }
    @media screen and (min-width: 768px) {
      #team .team-img {
        margin-top: 40px; } }
    @media screen and (min-width: 1600px) {
      #team .team-img {
        margin-top: 108px; } }
  #team .team-img-col {
    position: relative; }
  #team .team-img-pic {
    height: auto; }
  #team .team-img-text {
    width: 86%;
    font-size: 16px; }
    @media screen and (max-width: 530px) {
      #team .team-img-text {
        font-size: 10px; } }
    @media screen and (max-width: 768px) {
      #team .team-img-text {
        font-size: 5px; } }
    @media screen and (max-width: 1024px) {
      #team .team-img-text {
        font-size: 12px; } }
  #team .team-img-text > p:first-child {
    margin-bottom: 10px; }
    @media screen and (max-width: 1024px) {
      #team .team-img-text > p:first-child {
        margin-bottom: 6px; } }
    @media screen and (max-width: 768px) {
      #team .team-img-text > p:first-child {
        margin-bottom: 3px; } }
  #team .team-img-text > p:nth-child(2) {
    margin-bottom: 80px; }
    @media screen and (max-width: 1024px) {
      #team .team-img-text > p:nth-child(2) {
        margin-bottom: 40px; } }
    @media screen and (max-width: 768px) {
      #team .team-img-text > p:nth-child(2) {
        margin-bottom: 10px; } }
    @media screen and (min-width: 1600px) {
      #team .team-img-text > p:nth-child(2) {
        margin-bottom: 72px; } }
  #team .team-img-col:hover .team-img-overlay {
    height: 100%; }
  #team .team-img-all:hover .team-img-text-bottom > p:first-child {
    color: #3ec3a9; }
  #team .team-img-footer {
    width: 100%; }
  #team .team-img-footer > a:nth-child(2) {
    padding: 8px 14px; }
  #team .team-img-footer-link {
    color: white;
    font-size: 16px;
    margin-right: 1px;
    padding: 8px 10px;
    background-color: #12806a;
    text-decoration: none; }
    @media screen and (max-width: 787px) {
      #team .team-img-footer-link {
        font-size: 14px; } }
    @media screen and (max-width: 995px) {
      #team .team-img-footer-link {
        font-size: 12px; } }
    @media screen and (max-width: 530px) {
      #team .team-img-footer-link {
        font-size: 10px; } }
  #team .team-img-footer-link:hover {
    color: #c3c6c7; }
  #team .team-dot {
    bottom: -70px;
    width: 60%; }
  #team .team-dot li {
    margin-right: 4px;
    margin-left: 4px;
    border-color: #caced2; }
    @media screen and (max-width: 768px) {
      #team .team-dot li {
        margin-top: 3px; } }
  #team .team-dot .active {
    background-color: #0f0f0f; }

.text-white {
  line-height: 25px; }

.footer-text-head {
  font-size: 14px; }
  @media screen and (max-width: 767px) {
    .footer-text-head {
      margin-top: 30px;
      font-size: 18px; } }

footer {
  background-color: #1a1a1a;
  border-top: 4px solid #1ea78d;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  padding-bottom: 50px;
  margin-top: 50px; }
  footer .footer-container {
    margin-top: 50px; }
    @media screen and (max-width: 767px) {
      footer .footer-container {
        text-align: center; } }
  footer .footer-left > h3 {
    font-family: 'Roboto', san-serif;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7) !important;
    padding: 0;
    margin-top: 0; }
  footer .footer-left > p {
    margin-top: 25px; }
  footer .footer-center-content-form {
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 5px; }
    @media screen and (max-width: 767px) {
      footer .footer-center-content-form {
        margin-top: 15px; } }
  footer .footer-center-content-text, footer .footer-center-content-submit {
    border-style: none;
    color: rgba(255, 255, 255, 0.7);
    background: #1a1a1a;
    outline: none !important;
    margin-top: 8px;
    height: 32px;
    font-size: 20px; }
  footer .footer-center-content-submit {
    margin-top: auto;
    height: auto; }
  footer .footer-center-content > p {
    margin-top: 20.5px; }
    @media screen and (max-width: 768px) {
      footer .footer-center-content > p {
        margin-top: 10px; } }
  footer .footer-center-link-div-first {
    float: left;
    margin-top: 16px;
    width: 50%; }
    @media screen and (max-width: 768px) {
      footer .footer-center-link-div-first {
        margin-top: 8px; } }
  footer .footer-center-link-div-first > a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px; }
    @media screen and (max-width: 991px) {
      footer .footer-center-link-div-first > a {
        font-size: 10px; } }
    @media screen and (max-width: 767px) {
      footer .footer-center-link-div-first > a {
        font-size: 13px;
        text-align: left; } }
  footer .footer-center-link-div-first > a:hover {
    color: orange; }
  footer .footer-center-link-div-second {
    float: left;
    margin-top: 16px;
    margin-left: 12%; }
    @media screen and (max-width: 991px) {
      footer .footer-center-link-div-second {
        margin-left: 8%;
        margin-top: 16px; } }
    @media screen and (max-width: 767px) {
      footer .footer-center-link-div-second {
        margin-top: 8px;
        margin-left: 16%; } }
    @media screen and (max-width: 768px) {
      footer .footer-center-link-div-second {
        margin-top: 8px;
        float: right; } }
  footer .footer-center-link-div-second > a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px; }
    @media screen and (max-width: 991px) {
      footer .footer-center-link-div-second > a {
        font-size: 10px; } }
    @media screen and (max-width: 767px) {
      footer .footer-center-link-div-second > a {
        font-size: 13px;
        text-align: right; } }
  footer .footer-center-link-div-second > a:hover {
    color: orange; }
  footer .footer-right {
    margin-top: 50px; }
  footer .footer-right > p {
    line-height: 25px; }
  footer .footer-right > p > i {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 5px;
    margin-left: 5px; }
  footer .footer-right > p:last-child {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.7); }
    @media screen and (max-width: 768px) {
      footer .footer-right > p:last-child {
        margin-top: 10px; } }

/*# sourceMappingURL=body.css.map */
